<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @customer.title %>
</p>

<p>
  <b>First name:</b>
  <%= @customer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @customer.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>City:</b>
  <%= @customer.city %>
</p>

<p>
  <b>State:</b>
  <%= @customer.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @customer.zip_code %>
</p>

<p>
  <b>Contact no:</b>
  <%= @customer.contact_no %>
</p>

<p>
  <b>State id card:</b>
  <%= @customer.state_id_card %>
</p>

<p>
  <b>Driving license:</b>
  <%= @customer.driving_license %>
</p>

<p>
  <b>Emergency contact name:</b>
  <%= @customer.emergency_contact_name %>
</p>

<p>
  <b>Emergency contact no:</b>
  <%= @customer.emergency_contact_no %>
</p>


